node_modules/
.env
*.db
*.db-journal
*.db-wal
*.db-shm
.DS_Store
dist/
.vscode/
*.log
/data/

# Android
android/.gradle/
android/local.properties
android/.idea/
android/**/build/
android/*.iml
*.apk
*.aab
